.EditCardBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}

.EditCardInfoBox {
  z-index: 9;
  opacity: 2;
  background-color: white;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.editCardName {
  font-size: 2rem;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  border: none;
}

.editCardName:focus {
  outline: none;
}

.editCardContent {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  resize: none;
}

.editCardContent:focus {
  outline: none;
}

.EditCardInfoBox button {
  display: flex;
  align-self: flex-end;
  margin-right: 1rem;
  background: crimson;
  border-radius: 10px;
  border: 2px solid red;
  padding: 0.2rem;
  color: black;
  margin-bottom: 1rem;
}
